<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "login.css" %>
</head>
<body>
<div class="header">
		<ul>	<li class="left">PhotoMania
			<li class="left"><a class="hd" href="home.html">Home</a>
			<li class="left"><a class="hd" id="product">Products</a>
			<li class="right" onmouseover="showmenu('scripting')" onmouseout="hidemenu('scripting')"><%= notice %>
   			<table class="menu" id="scripting" width="220">
   				<tr><td class="menu">Upload Photos</td></tr>
   				<tr><td class="menu">Profile</td></tr>
				<tr><td class="menu">Upload Photos</td></tr>
   				<tr><td class="menu">Profile</td></tr>	
   			</table></li>
		</ul>
</div>
</body>
</html>
